.herolist-heroPage {
	//background: url('/src/img/heroesList/greyfade.png') center (center / cover) no-repeat;
	&__image {
		&__abaddon {
			background: url('/src/img/heroesList/heroes/abaddon/abaddon.jpg') center (center / cover) no-repeat;
		}
		&__techies {
			background: url('/src/img/heroesList/heroes/techies/techies.jpg') center (center / cover) no-repeat;
		}
		&__muerta {
			background: url('/src/img/heroesList/heroes/muerta/muerta.jpg') center (center / cover) no-repeat;
		}
		&__alchemist {
			background: url('/src/img/heroesList/heroes/alchemist/alchemist.jpg') center (center / cover) no-repeat;
		}
		&__ancientApparition {
			background: url('/src/img/heroesList/heroes/ancient_apparition/ancient_apparition.jpg') center (center / cover) no-repeat;
			.hero-features__image__wrapper {
				bottom: 65px;
				.herolist-heroPage__name {
					font-size: 40px;
				}
			}
		}
		&__darkWillow {
			background: url('/src/img/heroesList/heroes/dark_willow/dark_willow.png') center (center / cover) no-repeat;
		}
	}
}

